.download-panel {
    position: fixed;
    top: 100px;
    right: 0;
    background-color: #000;
    color: white;
    width: 250px;
    text-align: center;
    z-index: 1000;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.7);
  padding: 2rem;
  
    h2 {
      font-size: 18px;
      margin-bottom: 20px;
    }
  
    button {
      background-color: #fcb800;
      border: none;
      color: #000;
      padding: 10px 20px;
      cursor: pointer;
      font-weight: bold;
      transition: background 0.3s;
  
      &:hover {
        background-color: #e0a800;
      }
    }
    
  }
  